#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.chat {
  display: flex;
  flex-direction: column;
}

.chat-header {
  background-color: #fff;
  color: #000;
}

.chat-body {
  padding: 20px;
  height: 400px;
  background: #333;
  overflow: hidden auto;
}

.chat-footer {
  display: flex;
  flex-direction: column;
}

.textarea {
  width: 360px;
  height:80px;
  resize: none;
}